<!DOCTYPE html>
<html>
<head>
    <title>IT Snippet Toolbox</title>
    
    <!--CSS file-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<a href="/tools">Tools</a>

@app.route("/update-snippet", methods=["POST"])
def update_snippet():

<body>

<h1>Internal IT Snippet Toolbox</h1>

<button onclick="resetFilters()">Reset filters</button>

<input 
    type="text" 
    id="search" 
    placeholder="Search snippets..." 
    onkeyup="searchSnippets()"
    style="width: 100%; padding: 10px; margin-bottom: 20px;"
>

{% for snippet in snippets %}
<div class="card">
    
    <!--title-->
    <input 
        class="title-input"
        type="text"
        value="{{ snippet.title }}"
        readonly
    >

    <!--tags-->
    <div class="tags-display">
        {% for tag in snippet.tags %}
            {% if tag.strip() %}
                <span class="tag" onclick="filterByTag('{{ tag }}', this)">
                    {{ tag }}
                </span>
            {% endif %}
        {% endfor %}
    </div>
    <input 
        class="tag-input"
        type="text"
        value="{{ snippet.tags | join(', ') }}"
        style="display:none;"
    >

    <textarea
    id="snippet{{ loop.index }}"
    data-id="{{ snippet.id }}"
    readonly>
{{ snippet.content}}
    </textarea>

    <button onclick="copyText('snippet{{ loop.index }}', this)">Copy</button>
    
    <button class="edit-btn" onclick="enableEdit(this)">Edit</button>
    <button class="save-btn" onclick="saveEdit(this)" style="display:none;">Save</button>
    <button class="cancel-btn" onclick="cancelEdit(this)" style="display:none;">Cancel</button>
    <button class="delete-btn" onclick="deleteSnippet(this)" style="display:none; color:red;">Delete</button>
    <button class="duplicate-btn" onclick="duplicateSnippet(this)" style="display:none;">Duplicate</button>
</div>
{% endfor %}

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>


